@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Poppins-Medium.ttf)format('ttf');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Poppins-Medium.ttf)format('ttf');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.ttf)format('ttf');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Poppins-Light.ttf)format('ttf');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Poppins-Thin.ttf)format('ttf');
  }

  :root{
     --footerBg:#162A55;
     --skyblue:#007AFF;
     --white:#ffffff;
     --copyright:#07193E;
     --copyrightText:#F2F2F2;
     --textGray:#A8A8A8;
     --sectionBg:#F9F9F9;
     --blue:#132573;
     --olive:#86C305;
     --gray:#555555;
     --lightBlue:#0D6EFD;
     --lightGray:#f6f6f6;
  }

  body {
    border-top: solid 3px var(--headerTop);
    font-family: 'Poppins', sans-serif;
    background-color: var(--floralWhite);    
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }

  /* topheader */
    .topmenu{
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap:wrap;
      height: 45px;
      align-items: center;
      justify-content: space-between;
    }
    .topmenu > div{
      width: 50%;
    }
    .topmenu > div:nth-child(2){
      text-align: right;
    }
    ul.socialmedia{
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap:wrap;
      align-items: center;
    }
    ul.socialmedia li{
      width: auto;      
    }
    ul.infocontact {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: end;
    }
    .infocontact li {      
      position: relative;
      border-left: solid #C0C0C0 1px;   
      padding: 0 10px 0 15px;  
    }
    .infocontact li::after{
      border-left: solid #C0C0C0 1px;
    }
    .infocontact li a{
      font-size: 0.75rem;
      color:#101010;
      text-decoration: none;
      
    }
  /* topheader */

  /* footer */
  .footer-section{
    background: var(--footerBg);
    border-top:solid 5px var(--skyblue);
  }
  .footer-heading{
    font-size: 1.25rem;
    color: var(--white);
    padding: 45px 0 0 0;
    margin-bottom: 25px;
    position: relative;
  }
  .footer-heading::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background: var(--white);
    left: 0;
    top: calc(100% + 5px);
  }
  .address{
    font-size: 0.99rem;
    color: var(--textGray);
    font-weight: 300;
  }
  .address span{
    display: block;
  }
  ul.footer-links{
    padding: 0;
    margin: 0 0 20px 0;
  }
  ul.footer-links li{
    position: relative;
    padding: 0 0 5px 15px;
    transition: padding-left 0.3s ease;
    margin-bottom: 5px;
  }
  ul.footer-links li:hover{
    padding-left: 24px;
    transition: all 0.3s;
    color: var(--lightBlue);
 }

  ul.footer-links li a{
    text-decoration: none;
    color: var(--textGray);
    font-weight: 300;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }
  ul.footer-links li a:hover{
    text-decoration: none;
    color: var(--textGray);
    font-weight: 300;
    transition: all 0.3s ease;
    color: var(--lightBlue);
  }
  ul.footer-links li::after{
    content: ">";
    color: var(--textGray);
    font-weight: 400;
    position: absolute;
    left: 0px;
    transition: all 0.3s ease;
  }
  ul.footer-links li:hover::after{
    padding-left: 5px;
    transition: all 0.3s ease;
    color: var(--textGray);
    color: var(--lightBlue);
 }
  .copyright-section{
    width: 100%;
    background-color: var(--copyright);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-section p{
    color: var(--copyrightText);
    margin: 0;
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
  }
  /* footer */

  .carousel-indicators [data-bs-target]{  
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #132573!important;
  }
  .carousel-indicators .active{
    position: relative;
  }
  .carousel-indicators .active::after{
   
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid #132573 1px;
    left: -3.9px;
    top: -4px;
  
  }
  .banner{
    background: #e6f1f7;
    padding-bottom: 44px;
  }

 
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -55px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
  }


  .section{
    width: 100%;
    background: var(--sectionBg);
  }
  .pad50{
    padding: 50px 0;
  }

  .heading{
    width: 100%;
    font-size: 2.0rem;
    color: var(--blue);
    margin-bottom: 25px;
    font-weight: bold;    
  }
  .heading-03{
    width: 100%;
    font-size: 1.10rem;
    color: var(--blue);
    margin-bottom: 25px;
    padding: 0 0 3px 0;
    font-weight: 600;    
  }
  .underline{
    position: relative;
  }
  .underline::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    top:100%;
    left: 0;
    background: var(--blue);
  }
  .objectBox{
    width: 100%;
    border-radius: 8px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 15px 15px;
    border: solid #e2e2e2 1px;
    margin-bottom: 15px;
    min-height: 252px;
  }
  .objectBox .icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objectBox strong{
    display: block;
    text-align: center;
    padding: 10px 0;
    color: var(--blue);
    font-size: 0.99rem;
    font-weight: 600;
  }
  .objectBox p{
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .objectBox .icons svg{
    max-height: 75px;
    height: 100%;
    fill: var(--olive);
  }
  .objectBox:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .highlight{
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
    color: var(--olive);
  }
  p.intro{
    font-size: 1.15rem;
    font-weight: 400;
    font-style: italic;
    color:var(--gray);
    line-height: 1.5;
  }

   /* Tabs Header */
   .tabs-container {
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 15px;
    background-color:#f6f6f6;
  }
  
  .tabs {
    display: flex;   
    margin-bottom: 20px;
    border-radius: 4px;    
  }
  
  .tab {
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;   
    transition: all 0.3s ease;
    background: #D1D7E7;
    margin-right: 5px;
    border-radius: 4px;
    color: var(--lightBlue);
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
  
  .tab.active {    
    background-color: var(--lightBlue);
    color: var(--white);
    position: relative;
  }

  .tab.active::after {    
    content: '';
    position: absolute;
    top: 100%;
    border-top: 10px solid var(--lightBlue);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: none; 
    left: 45%;
    right: 50%;
  }
  
  .tab-content {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0;
    border: solid 1px #dfdfdf;
    border-radius: 4px;
    background-color: var(--white);
  }

  .btn-50{
    padding: 10px 45px;
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.active {
    display: block;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
    }  
    .tab {
      border-right: 1px solid #ddd;
      border-bottom: none;
    }
  }
  ul.whatsNew{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  ul.whatsNew li{
    width: 100%;
    padding: 15px 15px 15px 31px;
    border-radius: 4px;
    background: #FAFAFC;
    border: solid 1px #e5e5e5;
    font-size: 0.91rem;
    line-height: 1.5;
    position: relative;
    margin-bottom: 15px;
  }
  ul.whatsNew li::after{
    position: absolute;
    content: '';
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-size: 85%;
    width: 16px;
    height: 12px;
    left: 10px;
    top: 21px;
}

/* swiper js section */



  .swiper-container-wrapper {
    position: relative; /* Needed for absolute positioning of arrows */
    width: 100%; /* Example width, adjust as needed */
    margin: 0 auto; /* Center the container */
  }
  .swiper.mySwiper {
    width: 100%; /* Swiper takes full width of its parent */
    overflow: hidden; /* Prevent overflow */
  }
  .swiper-container-wrapper .swiper-button-next,
  .swiper-container-wrapper .swiper-button-prev {
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;  
    /* background-color: rgba(0, 0, 0, 0.5);
    color: white; */
    padding: 10px;
    border-radius: 5px;
  }
  .swiper-container-wrapper .swiper-button-prev {
    left: -50px; 
  }
  .swiper-container-wrapper .swiper-button-next {
    right: -50px;
  }


/* Responsive adjustments */
@media (max-width: 768px) {
  .swiper-container-wrapper .swiper-button-next {
    right: 10px; 
  }  
  .swiper-container-wrapper .swiper-button-prev {    
    left: 10px;   
  }
}


/* not */
.slide-content { 
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.slide-containe .card { 
  border-radius: 25px;
  background-color: #FFFFFF;
}

.image-content, .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

  .image-content { 
    width: 100%;
    row-gap: 5px; 
    position: relative;
    padding: 25px 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }

  .overlay::before, .overlay::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -40px;
      height: 40px;
      width: 40px;
      background-color: #4070F4;
  }

  .overlay::after {
      border-radius: 0 25px 0 0;
      background-color: #FFFFFF;
  }

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFFFFF;
  padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all .3s ease;
}
.button:hover { background: #265DF2; }
.swiper-navBtn {
  color: #6E93F7 !important;
  transition: all .3s ease;
}
.slide-containe .swiper-navBtn:hover { color: #4070F4 !important; }
.slide-containe .swiper-navBtn::before, .swiper-navBtn::after { font-size: 40px !important; }
.slide-containe .swiper-button-next { right: 0 !important; }
.slide-containe .swiper-button-prev { left: 0 !important; }
.slide-containe .swiper-pagination-bullet { background-color: #6E93F7 !important; opacity: 1 !important; }
.slide-containe .swiper-pagination-bullet-active { background-color: #4070F4 !important; }
@media screen and (max-width: 768px) {
  .slide-containe .slide-content { margin: 0 10px; }
  .slide-containe .swiper-navBtn { display: none !important; }
}


/* swiper js section */


.mission{
  position: relative;
  min-height: 100px;
  background: #fffcf5;
  display: flex;
  align-items: center;
  padding: 25px 15px;
}
.mission strong{
  color: var(--blue);
}
.mission p{
  padding: 0 15px;
  color: #555555;
  }
.mission::after{
  position: absolute;
  content: '';
  width: 8px;
  height: 100%;
  background: #ffa910;
  right: 0;
  top:0;
}
.vision {
  position: relative;
  min-height: 100px;
  background: #f6fcff;
  display: flex;
  align-items: center;
  padding: 15px;
  line-height: 1.7;
}
.vision strong{
  color: var(--blue);
}
.vision p{
  padding: 0 15px;
  order: 1; 
  line-height: 1.5;
  color: #555555;
}
.vision::after{
  position: absolute;
  content: '';
  width: 8px;
  height: 100%;
  background: #1b97e2;
  right: 0;
  top:0;
}

/* Navigation */



/* Navigation */

@media (max-width: 575.98px) {
    .topmenu {     
      display: inline-flex;
      flex-wrap: nowrap;
    }
    .topmenu > div:nth-child(1){
        width: 135px;
    }
    .topmenu > div:nth-child(2){
      width: calc(100% - 135px);
    }
    ul.infocontact {     
      display: flex;
      flex-wrap: wrap;      
      justify-content: start;
    }
    ul.socialmedia li {
      width: auto;
      padding-top: 10px;
    }
    .topmenu{
      height: 53px;
    }
    ul.infocontact li:nth-child(1){
      padding-bottom: 3px;
    }
    ul.infocontact li:nth-child(1),ul.infocontact li:nth-child(2){
      width: 64%; 
      text-align: left;
      font-weight: 600;
      color: #555;  
      display: flex;
      align-items: center;  
    }
    ul.infocontact li:nth-child(3){      
      flex: 1;
      position: absolute;
      right: 0;
    }
    .infocontact li {     
      padding: 0 10px 0 5px;
    }
    ul.infocontact li svg{
      height: 15px;
    }
    .infocontact li a {
      font-size: 0.65rem;
      color: #555555;
      text-decoration: none;
    }
    
    .mission{
      flex-direction: column;
      margin-bottom: 15px;
    }
    .mission p{
      margin-top: 15px;
    }
    .mission::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 8px;
      background: #ffa910;
      left: 0;
      top: 100%;
    }
    .vision{
      flex-direction: column;
      margin-bottom: 15px;
    }
    .vision p{
      margin-top: 15px;
    }
    .vision::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 8px;
      background: #1b97e2;
      left: 0;
      top: 100%;
    }
    .navbar-brand svg{
      height: 14px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
 
  .mission{
    flex-direction: column;
  }
  .mission p{
    margin-top: 15px;
  }
  .vision{
    flex-direction: column;
  }
  .vision p{
    margin-top: 15px;
  }
  .topmenu {     
    display: inline-flex;
    flex-wrap: nowrap;
  }
  .topmenu > div:nth-child(1){
      width: 135px;
  }
  .topmenu > div:nth-child(2){
    width: calc(100% - 135px);
  }
  ul.infocontact {     
    display: flex;
    flex-wrap: wrap;      
    justify-content: start;
  }
  ul.socialmedia li {
    width: auto;
    padding-top: 10px;
  }
  .topmenu{
    height: 53px;
  }
  ul.infocontact li:nth-child(1){
    padding-bottom: 3px;
  }
  ul.infocontact li:nth-child(1),ul.infocontact li:nth-child(2){   
    text-align: left;
    font-weight: 600;
    color: #555;    
  }
  ul.infocontact li:nth-child(3){      
    flex: 1;
    position: absolute;
    right: 0;
  }
  .infocontact li {   
    padding: 0 10px 0 5px;
    
  }
  .navbar-brand svg{
    height: 20px;
  }
}

/* breadcream */
.bg-breadcream{
  background: #f8f9fa;
  background: #e2e2e2;
  padding: 11px 0 0;
  /* border-top: solid 1px var(--blue);
  border-bottom: solid 1px var(--olive); */
}


.bg-breadcream  .breadcrumb-item a{
  color:var(--olive);
  font-weight: 600;
}

/* breadcream */


/* contact us */

.contact_inner{
  background-color: #fff;
  position: relative;
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
  min-height: 450px;
  overflow: hidden;
}

.contact_info_sec {
  position: absolute;
  background-color: #2d2d2d;
  color: #f1f1f1;
  right: 1px;
  top: 18%;
  height: 250px;
  width: 320px;
  padding: 40px 35px;
  border-radius: 25px 0 0 25px;
  background-color: rgba(2, 39, 89,0.8);
  transition: 0.5s;
}
.arrows {
  position: absolute;
  width: 20px;
  height: 31px;
  background-color: #ffcb00;
  top: 45%;
  left: -16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
}
.contact_info_sec.moveclass{
  margin-right: -316px;
  transition: 0.5s;
}
.contact_info_sec .address {
  line-height: 1.5;
  color: #ffffff;
}
.bg-gray{
  background-color: #f1f1f1;
}
/* contact us */
/* gallery */
.imgBox{
  width: 100%;
  border-radius: 8px;
  background: #f6f6f6;
  box-sizing: border-box;
  padding: 10px 10px;
  border:1px solid #dae2e6;
}
.image-grid img{
  cursor: pointer;

}
.imgBox figcaption{
  padding: 10px 15px;
  display: flex ;
  align-items: center;
  justify-content: center;
  color: var(--green);
  font-weight: 500;
  font-size: 0.99rem;
}
/* gallery */
.image-grid figure {
  margin-bottom: 15px;
  width: 100%;
  background-color: #ffffff;
  padding: 12px;
  border:solid #f1f1f1 1px;
}
.image-grid figure figcaption{
  width: 100%;
  padding: 5px;
  line-height: 1.5;
  color:#555555;
  text-align: center;
  font-size: 1.0rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-grid figure {
 
  transition: box-shadow 0.2s;
}
.videoGallery img{
  border-radius: 8px;
}
.imageGallery figure{
  position: relative;
}
.imageGallery figcaption {
  background: var(--sectionBg);
  min-height: 100px;
  border-radius: 8px;
  padding: 0 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.35;
  color: var(--red);
  text-align: center;
}

.videoGallery p.card-text {
  line-height: 1.3;
  padding: 10px 5px;
}
.image-grid a:hover figure {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.videoGallery figcaption p.card-text{
  line-height: 1.3;
  padding: 10px 5px;

}

/* FAQs */

.containerBox {
  background-color: white;
  color: black; 
  margin: 20px 0;
  border: solid 1px #e0e0e0;
  border-radius: 3px;
}

.question {
  font-size: 0.99rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--blue);
}
.question::before{
  content: '';
  position: absolute;
  right: 11px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background-color: #86c305;
  text-align: center;
}
.question::after {
  content: "\002B";
  font-size: 1.52rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
  color: #f1f1f1;
  font-weight: 400;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  font-size: 0.92rem;
  line-height: 1.5rem;
  color: var(--gray);
  
}

.question.active + .answercont {
}

.download-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 15px;
}

/* FAQs */

.privacyDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 5px;
  margin: 0px 0 5px;
  border-radius: 4px;
  background: var(--lightGray);
}
.privacyDiv p{
   font-size: 0.9rem;
   line-height: 1.6;
   font-weight: 400;
   color:#555555;
}


.privacyDiv .subHeading {
  font-size: 1.15em;
  padding: 10px 0;
  font-weight: 600;
  color: var(--blue);
  position: relative;
  line-height: 1;
  margin: 0 0 15px 0;
}

.privacyDiv .subHeading::after {
  position: absolute;
  content: '';
  top: 100%;
  width: 50px;
  height: 3px;
  background: var(--blue);
  left: 0;
}
.imgBox {
  padding: 10px;
  border-radius: 8px;
  border: solid #f4f4f4 1px;
}
ul.profile-details {
  width: 100%;  
  border: solid 1px #f4f4f4;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px 15px;
}
ul.profile-details li{
  width: 100%;
  border-bottom: solid #f4f4f4 1px;
  padding: 10px 10px;
}
ul.profile-details li:first-child{
  text-align: right;

}
ul.profile-details li:last-child{
  border-bottom: 0;
}
ul.profile-details li strong{
  max-width: 140px;
  width: 100%;
  display: inline-block;
  color: var(--blue);
}
ul.profile-details li span{
  color: var(--gray);
  
}
.pad-about {
  padding: 10px 15px;
  border: solid 1px #f6f6f6;  
  margin: 15px 0px;
  border-radius: 8px;
}
.subHeading{
  position: relative;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--olive);
  line-height: 1.4;
  margin-bottom: 25px;
}
.pad-about p{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
}
.subHeading::after{
  position: absolute;
  content: '';
  top:calc(100% + 5px);
  left: 0;
  width: 50px;
  height: 3px;
  background:var(--olive); ;
}

ul.emaillink{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul.emaillink li{
  width: 100%;
  padding: 5px 0;
}
ul.emaillink li strong{
  font-size: 0.95rem;
  font-weight: 600;
  max-width: 150px;
  padding-right: 5px;
}
ul.socialMedia{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}
ul.emaillink li{  
  padding: 5px 5px;
}

.pillerBox{
  width: calc(100% - 16px);
  height: 250px;  
  position: relative;
  background: var(--white);  
  margin: 8px 8px 25px;
  border-radius: 12px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;  
  z-index: 1;
}
.bgwhite{
  position: relative;
  background: var(--white);
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 25px;
  border-radius: 12px;
}
.bgwhite img{
  max-height: 70px;
  fill: var(--olive);
}

.pillerBox strong{  
  font-size: 1.15rem;
  color: var(--blue);
  line-height: 1.5;  
  padding: 5px 0;
}
.pillerBox p{
  font-size: 0.9rem;
  color: #747171;
  line-height: 1.6;
  margin-bottom: 0;
}
.pillerBox::before,
.pillerBox::after {      
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: var(--olive);
  /* border-radius: 16px;  */
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: -1;
}    
.pillerBox::after {
  top: -6px; 
  right: -6px;  
}    
.pillerBox::before {
  bottom: -6px; 
  left: -6px;  
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .topmenu > div{
    width: auto;
  }
  ul.socialmedia li{
    padding-top: 6px;
  }
  .navbar-brand svg{
    height: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .navbar-brand svg{
    height: 17px;
   }
   .navbar{
    padding: 0;
  } 
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--blue);   
  }
  .navbar-nav li.active{   
    color:#fff;
  }	 
  .navbar-nav .nav-link{ 
    font-weight: 600;  
    padding: 0.99rem 0.75rem!important;   
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {    
    min-width: calc(100% - 1px);           
  } 
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;     
    padding: 0;
    border-radius: 0;       
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px; 
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.15); /* Match dropdown border */
  }
  a.dropdown-item{
    /* color:#fff; */
    padding: .65rem 1.5rem;
    border-bottom:solid #615f5f 0.25px;
    font-size: 0.89rem!important;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    /* color: #fff; */
    text-decoration: none;    
  }
  .dropdown-menu a.dropdown-item:last-child{
    border-bottom:solid 1px #ebe9e9;
  } 
  .navbar-nav li:first-child{
    margin-left:0;
  } 
  .dropdown .dropdown-menu {
    transition: all 0.5s;
    /* overflow: hidden; */
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border-top:solid 4px var(--olive)!important;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px; /* Adjust spacing as needed */
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -15px; /* Adjust as needed */
    left: 41%; /* Adjust as needed */    
    margin: auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--olive); /* Match dropdown border */
  }
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
  }
  .dropdown-item.active, .dropdown-item:active {
      color: var(--bs-dropdown-link-active-color);
      text-decoration: none;
      background-color: var(--navbarActive);
  }
  .nav-link:focus, .nav-link:hover {
    background-color: var(--navbarActive);
   }
   li.nav-item::after {
      content: '';
      height: 100%;
      width: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
    }    
    .nav-link {
      padding: 0 15px;
    }
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* Important for smooth transition */
      animation: fadeIn 0.3s ease-in-out forwards; /* Add fade-in animation */
    }    
    @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-10px); /* Optional: slight upward movement */
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
    }
    
    .navbar-nav .nav-item.dropdown .dropdown-menu {
      display: none; /* Hide by default */
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
    }
 }
@media (min-width: 1200px) and (max-width: 1399.98px) {  }
@media (min-width: 1400px) {  }


@media (min-width: 1200px) {

  .navbar-brand svg{
    height: 21px;
  }
  .navbar{
    padding: 0;
  } 
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--blue);   
  }
  .navbar-nav li.active{   
    color:#fff;
  }	 
  .navbar-nav .nav-link{ 
    font-weight: 600;  
    padding: 0.99rem 1.5rem!important;   
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {    
    min-width: calc(100% - 1px);           
  } 
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    /* background: #022759; */
    /* color:#fff; */
    padding: 0;
    border-radius: 0;   
    /* border-top: solid 2px var(--blue); */
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px; /* Adjust spacing as needed */
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.15); /* Match dropdown border */
  }
  a.dropdown-item{
    /* color:#fff; */
    padding: .65rem 1.5rem;
    border-bottom:solid #615f5f 0.25px;
    font-size: 0.89rem!important;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    /* color: #fff; */
    text-decoration: none;    
  }
  .dropdown-menu a.dropdown-item:last-child{
    border-bottom:solid 1px #ebe9e9;
  } 
  .navbar-nav li:first-child{
    margin-left:0;
  } 
  .dropdown .dropdown-menu {
    transition: all 0.5s;
    /* overflow: hidden; */
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border-top:solid 4px var(--olive)!important;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px; /* Adjust spacing as needed */
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -15px; /* Adjust as needed */
    left: 41%; /* Adjust as needed */    
    margin: auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--olive); /* Match dropdown border */
  }
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
  }
  .dropdown-item.active, .dropdown-item:active {
      color: var(--bs-dropdown-link-active-color);
      text-decoration: none;
      background-color: var(--navbarActive);
  }
  .nav-link:focus, .nav-link:hover {
    background-color: var(--navbarActive);
   }
   li.nav-item::after {
      content: '';
      height: 100%;
      width: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
    }    
    .nav-link {
      padding: 0 15px;
    }
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* Important for smooth transition */
      animation: fadeIn 0.3s ease-in-out forwards; /* Add fade-in animation */
    }    
    @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-10px); /* Optional: slight upward movement */
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
    }
    
    .navbar-nav .nav-item.dropdown .dropdown-menu {
      display: none; /* Hide by default */
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
    }
    

}


/* @media (max-width: 575.98px) {  }
@media (min-width: 576px) and (max-width: 767.98px) {  }
@media (min-width: 768px) and (max-width: 991.98px) {  }
@media (min-width: 992px) and (max-width: 1199.98px) {  }
@media (min-width: 1200px) and (max-width: 1399.98px) {  }
@media (min-width: 1400px) {  } */